<table class="table table-bordered table-hover mt-4">
    <thead class="thead-dark">
        <tr>
            <th>ProductId</th>
            <th>ProductName</th>
            <th>Quantity</th>
            <th>Category</th>
            <th>Price</th>
            <th>Company</th>
            <th>Total With GST</th>
            <th>Add To Cart</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of list">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.category}}</td>       
            <td>{{product.price|currency:'INR'}}</td>
            <td>{{product.company}}</td>
            <td>{{product.price+180|currency:'INR' }}</td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"
                    (click)="addToCart(product)">Add To Cart</button>
            </td>
        </tr>
    </tbody>
</table>
