<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" style="background: rgba(0,0,0,0.5);" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">

    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <h2>StockManagement</h2>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/add">Add Product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/update">Update Product</a>
    </li>
    <li>
      <a class="nav-link text-white" routerLink="/search">Search Product By Name</a>
    </li>
    <li>
      <a class="nav-link text-white" routerLink="/allProducts">Show All Products</a>
    </li>
    <li>
      <a class="nav-link text-white" routerLink="/cart">Show cart</a>
    </li>
  </div>
</nav>