.topnav a:hover {
    border-bottom: 3px solid grey;
    padding: 100%;
    width: 100%;
}
.container{background: url(https://cdn.pixabay.com/photo/2016/11/22/23/44/buildings-1851246__340.jpg);
    height: 1000px;
    width: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}