<div class="alert alert-danger" *ngIf='error'>{{error}}</div>
<div class="alert alert-danger" *ngIf='msg'>{{msg}}</div>
<div class="col-md-10 offset-md-1 mt-4">
    <form #addProductForm="ngForm" (ngSubmit)="addProduct(addProductForm)">
        <div class="card">
            <div class="card-header">
                <h5>ADD Product</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <input type="text" name="name" id="name" class="form-control" placeholder="Enter the product name"
                        #name="ngModel" ngModel required>
                    <div *ngIf="name.touched && name.invalid">
                        <p class="alert alert-danger" *ngIf="name.errors.required">*This Field is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" name="category" id="category" class="form-control"
                        placeholder="Enter the category" #category="ngModel" ngModel required>
                    <div *ngIf="category.touched && category.invalid">
                        <p class="alert alert-danger" *ngIf="category.errors.required">*This Field is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="number" name="quantity" id="quantity" class="form-control"
                        placeholder="Enter the quantity of the product" #quantity="ngModel" ngModel required>
                    <div *ngIf="quantity.touched && quantity.invalid">
                        <p class="alert alert-danger" *ngIf="quantity.errors.required">*This Field is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="number" name="price" id="price" class="form-control" placeholder="Enter the price"
                        #price="ngModel" ngModel required>
                    <div *ngIf="price.touched && price.invalid">
                        <p class="alert alert-danger" *ngIf="price.errors.required">*This Field is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" name="company" id="company" class="form-control" placeholder="Enter the company of the product"
                        #company="ngModel" ngModel required>
                    <div *ngIf="company.touched && company.invalid">
                        <p class="alert alert-danger" *ngIf="company.errors.required">*This Field is required</p>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-outline-primary float-right" [disabled]="form.invalid">Add
                        Product</button>
                </div>
            </div>
        </div>
    </form>
</div>