<div class="card card-body">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark" style='color: white; background-color: grey'>
      <tr>
        <td>AssetId</td>
        <td>AssetName</td>
        <td>Quantity</td>
        <td>Description</td>
        <td>Status</td>
        <td>Edit</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let li of list'>
        <td>{{li.assetId}}</td>
        <td>{{li.assetName}}</td>
        <td>{{li.quantity}}</td>
        <td>{{li.assetDes}}</td>
        <td>{{li.status}}</td>
        <td>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Edit The Asset
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="addasset-form">
                      <div class="main-div">
                        <div class="panel">
                          <h2>Modify Asset</h2>
                          <p>Modify the assets you want</p>
                        </div>
                        <form #modifyAssetForm='ngForm' (ngSubmit)='modifyAsset(modifyAssetForm)'>
                          <div class="form-group">
                            <input type="number" class="form-control" name="assetId" id="assetId"
                              placeholder="Enter the ID" #assetId='ngModel' ngModel required>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" name="assetName" id="assetName"
                              placeholder="Enter the name" #assetName='ngModel' ngModel required>
                          </div>
                          <div class="form-group">
                            <input type="number" class="form-control" name="quantity" id="quantity"
                              placeholder="Enter the quantity" #quantity='ngModel' ngModel required>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" name="assetDes" id="assetDes"
                              placeholder="Describe the Asset" #assetDes='ngModel' ngModel required>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" name="status" id="status"
                              placeholder="Enter the status" #status='ngModel' ngModel required>
                          </div>
                          <button type="submit" class="btn btn-primary">Modify Asset</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>