<div class="container">
  <h1 class="form-heading">Add Asset Form</h1>
  <div class="addasset-form">
    <div class="main-div">
      <div class="panel">
        <h2>Add Asset</h2>
        <p>Add the assets you want</p>
      </div>
      <form #addAssetForm='ngForm' (ngSubmit)='addAsset(addAssetForm)'>
        <div class="form-group">
          <input type="text" class="form-control" name="assetName" id="assetName" placeholder="Enter the name"
            #assetName='ngModel' ngModel>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name="quantity" id="quantity" placeholder="Enter the quantity"
            #quantity='ngModel' ngModel>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="assetDes" id="assetDes" placeholder="Describe the Asset"
            #assetDes='ngModel' ngModel>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="status" id="status" placeholder="Enter the status"
            #status='ngModel' ngModel>
        </div>
        <button type="submit" class="btn btn-primary">Add Asset</button>
      </form>
    </div>
  </div>
</div>