<script>
	$(function () {
		$(".dropdown").hover(
			function () {
				$('.dropdown-menu', this).stop(true, true).fadeIn("fast");
				$(this).toggleClass('open');
				$('b', this).toggleClass("caret caret-up");
			},
			function () {
				$('.dropdown-menu', this).stop(true, true).fadeOut("fast");
				$(this).toggleClass('open');
				$('b', this).toggleClass("caret caret-up");
			});
	});
</script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
	<a class="navbar-brand" href="#">Welcome To HomePage</a>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	</div>
</div>
<div id="myCarousel" class="carousel slide margin-t70" data-interval="false">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img src="https://images.cardekho.com/images/featuredcarimages/Maruti-Swift-17/Swift-new-0.jpg"
				style="width:100%" class="img-responsive">
			<div class="container">
				<div class="caraous-title">
					<div class="col-md-12">
						<div class="col-md-6">
							<h1>Choose Your<br> Dream Car with us </h1>
							<h3>Our Promise to Complete Happiness & Satisfaction</h3>
							<a class="btn btn-lg btn-primary site-btn" href="#">Get to Know about your car</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="tabs-area area-padding">
	<div class="container">
		<div class="row">
			<div class="site-heading ">
				<h2>The most trusted Used cars</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
				<div class="divider"></div>
			</div>
		</div>
		<div class="row">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#home">Sedan</a></li>
				<li><a data-toggle="tab" href="#menu1">Hatchback</a></li>
				<li><a data-toggle="tab" href="#menu2">SUV</a></li>
				<li><a data-toggle="tab" href="#menu3">Luxury</a></li>
			</ul>
			<div class="tab-content">
				<div id="home" class="tab-pane fade in active">
					<div class="row">
						<div class="col-md-3 text-center">
							<div class="used-cars-box">
								<div class="used-cars-img">
									<img class="img-responsive"
										src="https://media.zigcdn.com/media/model/2017/May/dire_320x160.jpg">
								</div>
								<div class="used-cars-title">
									<h3>Maruti Swift Dzire</h3>
									<h4>Rs. 5.53-9.91 Lakh</h4>
								</div>
								<button type="button" class="btn site-btn">Get On Road Price</button>
							</div>
						</div> <!-- End Col -->
						<div class="col-md-3 text-center">
							<div class="used-cars-box">
								<div class="used-cars-img">
									<img class="img-responsive"
										src="https://media.zigcdn.com/media/model/2017/May/dire_320x160.jpg">
								</div>
								<div class="used-cars-title">
									<h3>Maruti Swift Dzire</h3>
									<h4>Rs. 5.53-9.91 Lakh</h4>
								</div>
								<button type="button" class="btn site-btn">Get On Road Price</button>
							</div>
						</div> <!-- End Col -->
						<div class="col-md-3 text-center">
							<div class="used-cars-box">
								<div class="used-cars-img">
									<img class="img-responsive"
										src="https://media.zigcdn.com/media/model/2017/May/dire_320x160.jpg">
								</div>
								<div class="used-cars-title">
									<h3>Maruti Swift Dzire</h3>
									<h4>Rs. 5.53-9.91 Lakh</h4>
								</div>
								<button type="button" class="btn site-btn">Get On Road Price</button>
							</div>
						</div> <!-- End Col -->
						<div class="col-md-3 text-center">
							<div class="used-cars-box">
								<div class="used-cars-img">
									<img class="img-responsive"
										src="https://media.zigcdn.com/media/model/2017/May/dire_320x160.jpg">
								</div>
								<div class="used-cars-title">
									<h3>Maruti Swift Dzire</h3>
									<h4>Rs. 5.53-9.91 Lakh</h4>
								</div>
								<button type="button" class="btn site-btn">Get On Road Price</button>
							</div>
						</div> <!-- End Col -->
					</div>
				</div>
				<div id="menu1" class="tab-pane fade">
					<div class="row">
						<div class="col-sm-6 col-md-3 text-center">
							<div class="used-cars-box">
								<div class="used-cars-img">
									<img class="img-responsive"
										src="https://media.zigcdn.com/media/model/2017/May/dire_320x160.jpg">
								</div>
								<div class="used-cars-title">
									<h3>Maruti Swift Dzire</h3>
									<h4>Rs. 5.53-9.91 Lakh</h4>
								</div>
								<button type="button" class="btn site-btn">Get On Road Price</button>
							</div>
						</div>
						<div class="col-sm-6 col-md-3 text-center">
							<div class="used-cars-box">
								<div class="used-cars-img">
									<img class="img-responsive"
										src="https://media.zigcdn.com/media/model/2017/May/dire_320x160.jpg">
								</div>
								<div class="used-cars-title">
									<h3>Maruti Swift Dzire</h3>
									<h4>Rs. 5.53-9.91 Lakh</h4>
								</div>
								<button type="button" class="btn site-btn">Get On Road Price</button>
							</div>
						</div>
						<div class="col-sm-6 col-md-3 text-center">
							<div class="used-cars-box">
								<div class="used-cars-img">
									<img class="img-responsive"
										src="https://media.zigcdn.com/media/model/2017/May/dire_320x160.jpg">
								</div>
								<div class="used-cars-title">
									<h3>Maruti Swift Dzire</h3>
									<h4>Rs. 5.53-9.91 Lakh</h4>
								</div>
								<button type="button" class="btn site-btn">Get On Road Price</button>
							</div>
						</div>
						<div class="col-sm-6 col-md-3 text-center">
							<div class="used-cars-box">
								<div class="used-cars-img">
									<img class="img-responsive"
										src="https://media.zigcdn.com/media/model/2017/May/dire_320x160.jpg">
								</div>
								<div class="used-cars-title">
									<h3>Maruti Swift Dzire</h3>
									<h4>Rs. 5.53-9.91 Lakh</h4>
								</div>
								<button type="button" class="btn site-btn">Get On Road Price</button>
							</div>
						</div>
					</div>
				</div>
				<div id="menu2" class="tab-pane fade">
					<h3>Menu 2</h3>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
						totam rem aperiam.</p>
				</div>
				<div id="menu3" class="tab-pane fade">
					<h3>Menu 3</h3>
					<p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
						explicabo.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="cars-section area-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12 site-heading ">
				<h2>The most trusted Used cars</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
				<div class="divider"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-3 text-center">
				<div class="used-cars-box">
					<div class="used-cars-img">
						<img class="img-responsive"
							src="https://media.zigcdn.com/media/model/2017/May/dire_320x160.jpg">
					</div>
					<div class="used-cars-title">
						<h3>Maruti Swift Dzire</h3>
						<h4>Rs. 5.53-9.91 Lakh</h4>
					</div>
					<button type="button" class="btn site-btn">Get On Road Price</button>
				</div>
			</div> <!-- End Col -->
			<div class="col-sm-6 col-md-3 text-center">
				<div class="used-cars-box">
					<div class="used-cars-img">
						<img class="img-responsive"
							src="https://media.zigcdn.com/media/model/2017/May/dire_320x160.jpg">
					</div>
					<div class="used-cars-title">
						<h3>Maruti Swift Dzire</h3>
						<h4>Rs. 5.53-9.91 Lakh</h4>
					</div>
					<button type="button" class="btn site-btn">Get On Road Price</button>
				</div>
			</div> <!-- End Col -->

			<div class="col-sm-6 col-md-3 text-center">
				<div class="used-cars-box">
					<div class="used-cars-img">
						<img class="img-responsive"
							src="https://media.zigcdn.com/media/model/2017/May/dire_320x160.jpg">
					</div>
					<div class="used-cars-title">
						<h3>Maruti Swift Dzire</h3>
						<h4>Rs. 5.53-9.91 Lakh</h4>
					</div>
					<button type="button" class="btn site-btn">Get On Road Price</button>
				</div>
			</div> <!-- End Col -->

			<div class="col-sm-6 col-md-3 text-center">
				<div class="used-cars-box">
					<div class="used-cars-img">
						<img class="img-responsive"
							src="https://media.zigcdn.com/media/model/2017/May/dire_320x160.jpg">
					</div>
					<div class="used-cars-title">
						<h3>Maruti Swift Dzire</h3>
						<h4>Rs. 5.53-9.91 Lakh</h4>
					</div>
					<button type="button" class="btn site-btn">Get On Road Price</button>
				</div>
			</div> <!-- End Col -->
		</div>
	</div>
</div>
<div class="cars-section area-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12 site-heading ">
				<h2>The Most Trusted Used cars</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
				<div class="divider"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-3 text-center">
				<div class="used-cars-box">
					<div class="used-cars-img">
						<img class="img-responsive"
							src="https://media.zigcdn.com/media/model/2016/Jan/renault_kwid_320x160.jpg">
					</div>
					<div class="used-cars-title">
						<h3>Maruti Swift Dzire</h3>
						<h4>Rs. 5.53-9.91 Lakh</h4>
					</div>
					<button type="button" class="btn site-btn">Get On Road Price</button>
				</div>
			</div> <!-- End Col -->
			<div class="col-sm-6 col-md-3 text-center">
				<div class="used-cars-box">
					<div class="used-cars-img">
						<img class="img-responsive"
							src="https://media.zigcdn.com/media/model/2017/Mar/baleno-right_320x160.jpg">
					</div>
					<div class="used-cars-title">
						<h3>Maruti Swift Dzire</h3>
						<h4>Rs. 5.53-9.91 Lakh</h4>
					</div>
					<button type="button" class="btn site-btn">Get On Road Price</button>
				</div>
			</div> <!-- End Col -->
			<div class="col-sm-6 col-md-3 text-center">
				<div class="used-cars-box">
					<div class="used-cars-img">
						<img class="img-responsive"
							src="https://media.zigcdn.com/media/model/2016/Apr/tata_tiago_320x160.jpg">
					</div>
					<div class="used-cars-title">
						<h3>Maruti Swift Dzire</h3>
						<h4>Rs. 5.53-9.91 Lakh</h4>
					</div>
					<button type="button" class="btn site-btn">Get On Road Price</button>
				</div>
			</div> <!-- End Col -->
			<div class="col-sm-6 col-md-3 text-center">
				<div class="used-cars-box">
					<div class="used-cars-img">
						<img class="img-responsive"
							src="https://media.zigcdn.com/media/model/2016/Jan/hyundai_creta_320x160.jpg">
					</div>
					<div class="used-cars-title">
						<h3>Maruti Swift Dzire</h3>
						<h4>Rs. 5.53-9.91 Lakh</h4>
					</div>
					<button type="button" class="btn site-btn">Get On Road Price</button>
				</div>
			</div> <!-- End Col -->
		</div>
	</div>
</div>
<div class="news-area area-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12 site-heading ">
				<h2>The most Automobile News</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
				<div class="divider"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="news-box">
					<div class="news-img">
						<img class="img-responsive"
							src="https://media.zigcdn.com/media/content/2018/Jan/img_0248_300x225.jpg">
					</div>
					<div class="news-title">
						<h4>Last of the Bugatti EB 110 chassis to spawn SP-110 Edonis supercar</h4>
						<p>It’s tough having to say goodbye to a long-termer that has been with us for two years. It is
							even tougher when that long-termer is something as stellar as the R3</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="news-box">
					<div class="news-img">
						<img class="img-responsive"
							src="https://media.zigcdn.com/media/content/2018/Jan/img_0248_300x225.jpg">
					</div>
					<div class="news-title">
						<h4>Last of the Bugatti EB 110 chassis to spawn SP-110 Edonis supercar</h4>
						<p>It’s tough having to say goodbye to a long-termer that has been with us for two years. It is
							even tougher when that long-termer is something as stellar as the R3</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="news-box">
					<div class="news-img">
						<img class="img-responsive"
							src="https://media.zigcdn.com/media/content/2018/Jan/img_0248_300x225.jpg">
					</div>
					<div class="news-title">
						<h4>Last of the Bugatti EB 110 chassis to spawn SP-110 Edonis supercar</h4>
						<p>It’s tough having to say goodbye to a long-termer that has been with us for two years. It is
							even tougher when that long-termer is something as stellar as the R3</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="news-box">
					<div class="news-img">
						<img class="img-responsive"
							src="https://media.zigcdn.com/media/content/2018/Jan/img_0248_300x225.jpg">
					</div>
					<div class="news-title">
						<h4>Last of the Bugatti EB 110 chassis to spawn SP-110 Edonis supercar</h4>
						<p>It’s tough having to say goodbye to a long-termer that has been with us for two years. It is
							even tougher when that long-termer is something as stellar as the R3</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="brand-list-area">
	<div class="container">
		<ul class="brand-list list-inline">
			<li><a href="#"><img src="http://livedemo00.template-help.com/wt_58434/images/partner1.png" alt=""></a></li>
			<li><a href="#"><img src="http://static.livedemo00.template-help.com/wt_58434/images/partner2.png"
						alt=""></a></li>
			<li><a href="#"><img src="http://static.livedemo00.template-help.com/wt_58434/images/partner3.png"
						alt=""></a></li>
			<li><a href="#"><img src="http://static.livedemo00.template-help.com/wt_58434/images/partner4.png"
						alt=""></a></li>
			<li><a href="#"><img src="http://static.livedemo00.template-help.com/wt_58434/images/partner5.png"
						alt=""></a></li>
			<li><a href="#"><img src="http://static.livedemo00.template-help.com/wt_58434/images/partner6.png"
						alt=""></a></li>
		</ul>
	</div>
</div>
<div class="footer-area">
	<div class="footer">
		<div class="container">
			<div class="col-md-4 footer-one">
				<h5>About Us </h5>
				<p>Cras sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras sociis
					natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				<div class="social-icons">
					<a href="https://www.facebook.com/"><i id="social-fb"
							class="fa fa-facebook-square fa-3x social"></i></a>
					<a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
					<a href="https://plus.google.com/"><i id="social-gp"
							class="fa fa-google-plus-square fa-3x social"></i></a>
					<a href="mailto:bootsnipp@gmail.com"><i id="social-em"
							class="fa fa-envelope-square fa-3x social"></i></a>
				</div>
			</div>
			<div class="col-md-3 footer-two">
				<h5>Information </h5>
				<ul>
					<li><a href="maintenance.html">Maintenance Tips</a></li>
					<li><a href="contact.html">Locations</a></li>
					<li><a href="about.html">Testimonials</a></li>
					<li><a href="about.html">Careers</a></li>
					<li><a href="about.html">Partners</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-three">
				<h5>Helpful Links </h5>
				<ul>
					<li><a href="maintenance.html">Maintenance Tips</a></li>
					<li><a href="contact.html">Locations</a></li>
					<li><a href="about.html">Testimonials</a></li>
					<li><a href="about.html">Careers</a></li>
					<li><a href="about.html">Partners</a></li>
				</ul>
			</div>
			<div class="col-md-2 footer-four">
				<h5>Helpful Links </h5>
				<ul>
					<li><a href="maintenance.html">Maintenance Tips</a></li>
					<li><a href="contact.html">Locations</a></li>
					<li><a href="about.html">Testimonials</a></li>
					<li><a href="about.html">Careers</a></li>
					<li><a href="about.html">Partners</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center ">
					<div class="copyright-text">
						<p>CopyRight © 2017 Digital All Rights Reserved</p>
					</div>
				</div> <!-- End Col -->
			</div>
		</div>
	</div>
</div>