.nav{background: url(https://cdn.pixabay.com/photo/2014/10/22/17/22/ford-498244__340.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}